:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}

.jossTw svg{
    margin: 0 auto;
}
/* ------------ */
.full-form{
  background: var(--glass);
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
}
/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
    width: 250px !important; 
    height: 320px !important;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    position: relative;
  }
  
  .thecard:hover{
    transform: rotateY(180deg);
  }
  
   .thefront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
    box-shadow: var(--boxShadow);
  }
  .thefront img{
      width: 100%;
      height: 100%;
  }
  .theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: var(--glass);
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
    padding: 30px;
  }
  
  
   .theback h1{
    padding: 30px;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  .thefront p, .theback p{
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }
  .the-card{
    width: 350px;
    background: var(--glass);
    padding: 2rem 3rem;
    margin: 2rem ;
    box-shadow: var(--boxShadow);

  }